In [ ]:
#1. What are data structures, and why are they important?
  - Data structures are ways of organizing and storing data to enable efficient access and modification. They are crucial for writing optimized and scalable code.

In [ ]:
#2. Explain the difference between mutable and immutable data types with examples.
  - Mutable: Can be changed (e.g., list, dict, set).
    Immutable: Cannot be changed (e.g., int, str, tuple).

In [3]:
list = [5,7,3,4]
list[2] = 6
list

[5, 7, 6, 4]

In [5]:
tuple = (2,3,4)
tuple[1] = 5 # Error
tuple

TypeError: 'tuple' object does not support item assignment

In [ ]:
#3. What are the main differences between lists and tuples in Python?
  -'''List is  Mutable, dynamic size, more memory.
     Tuple is Immutable, faster access, can be used as dictionary keys.'''

In [ ]:
#4. Describe how dictionaries store data.
  -'''Dictionaries store data as key-value pairs using a hash table.'''

In [ ]:
#5. Why might you use a set instead of a list in Python?
  -'''Sets automatically remove duplicates and offer faster membership tests.'''

In [ ]:
#6. What is a string in Python, and how is it different from a list?
  -'''A string is an immutable sequence of characters; a list is mutable and can contain any data types.'''

In [ ]:
#7. How do tuples ensure data integrity in Python?
  -'''Since tuples are immutable, their contents cannot be changed, ensuring data consistency.'''

In [ ]:
#8. What is a hash table, and how does it relate to dictionaries in Python?
  -'''A hash table stores key-value pairs using a hashing function; dictionaries in Python use hash tables internally.'''

In [ ]:
#9. Can lists contain different data types in Python?
  -'''Yes, Python lists can hold different data types.'''

In [ ]:
#10. Explain why strings are immutable in Python.
  -'''For memory efficiency, thread safety, and hashability, which allows strings to be used as keys in dictionaries.'''

In [ ]:
#11. What advantages do dictionaries offer over lists for certain tasks?
  -'''Faster data retrieval via keys, organized storage with descriptive keys, better performance for lookup.'''

In [ ]:
#12. Describe a scenario where using a tuple would be preferable over a list.
   -'''Use a tuple when data should not change (e.g., coordinates, fixed configurations).'''

In [ ]:
#13. How do sets handle duplicate values in Python?
   -'''Sets automatically eliminate duplicate elements.'''

In [ ]:
#14. How does the “in” keyword work differently for lists and dictionaries?
   -'''In lists: Checks if a value exists.
       In dictionaries: Checks if a key exists.'''

In [ ]:
#15. Can you modify the elements of a tuple? Explain why or why not?
   -'''No, tuples are immutable.'''

In [ ]:
#16. What is a nested dictionary, and give an example of its use case?
   -'''A dictionary inside another dictionary.'''

In [7]:
students = {"Class 9": "Ajay", "Class 10": "Bijay", "Classes":{"Class 11": "Atul", "Class 12": "Aditi"}}
students

{'Class 9': 'Ajay',
 'Class 10': 'Bijay',
 'Classes': {'Class 11': 'Atul', 'Class 12': 'Aditi'}}

In [ ]:
#17. Describe the time complexity of accessing elements in a dictionary.
   -'''Average-case: O(1) due to hashing.'''

In [ ]:
#18. In what situations are lists preferred over dictionaries?
   -'''When order matters or when data doesn't require key-based access.'''

In [ ]:
#19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   -'''They relied on hash tables which didn’t preserve order.'''

In [ ]:
#20. Explain the difference between a list and a dictionary in terms of data retrieval.
   -'''List: By index (e.g., my_list[0])
       Dictionary: By key (e.g., my_dict["name"])'''

In [8]:
#1. Write a code to create a string with your name and print it.
name = "Biswajit Ghosh"
print(name)

Biswajit Ghosh

In [9]:
#2. Write a code to find the length of the string "Hello World"
a = "Hello World"
len(a)

11

In [11]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
str1 = "Python Programming"
str1[:3]

'Pyt'

In [12]:
#4. Write a code to convert the string "hello" to uppercase
str2 = "hello"
str2.upper()

'HELLO'

In [13]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
str3 = "I like apple"
str3.replace("apple", "orange")

'I like orange'

In [14]:
#6. Write a code to create a list with numbers 1 to 5 and print it
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [17]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list2 = [1,2,3,4]
list2.append(10)
list2

[1, 2, 3, 4, 10]

In [18]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list3 = [1,2,3,4,5]
list3.remove(3)
list3

[1, 2, 4, 5]

In [19]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list4 = ['a', 'b', 'c', 'd']
list4[1]

'b'

In [21]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
list5 = [10, 20, 30, 40, 50]
list5.reverse()
list5

[50, 40, 30, 20, 10]

In [22]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [23]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple2 = ('red', 'green', 'blue', 'yellow')
tuple2[-2]

'blue'

In [24]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple3 = (10, 20, 5, 15)
min(tuple3)

5

In [25]:
#14.. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple4 = ('dog', 'cat', 'rabbit')
tuple4.index('cat')

1

In [26]:
#15.. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple5 = ('mango', 'litchi', 'apple')
"kiwi" in tuple5

False

In [27]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a', 'b', 'c'}
set1

{'a', 'b', 'c'}

In [29]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set2 = {1, 2, 3, 4, 5}
set2.clear()
set2

set()

In [30]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set3 = {1, 2, 3, 4}
set3.remove(4)
set3

{1, 2, 3}

In [31]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set41 = {1, 2, 3}
set42 = {3, 4, 5}
set41 | set42

{1, 2, 3, 4, 5}

In [32]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set51 = {1, 2, 3}
set52 = {2, 3, 4}
set51 & set52

{2, 3}

In [34]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1 = { "Name": "Biswajit Ghosh", "Age": 29, "City": "Nabadwip"}
dict1

{'Name': 'Biswajit Ghosh', 'Age': 29, 'City': 'Nabadwip'}

In [39]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict2 = {'name': 'John', 'age': 25}
dict2["country"] = "USA"
dict2

{'name': 'John', 'age': 25, 'country': 'USA'}

In [40]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict3 = {'name': 'Alice', 'age': 30}
dict3["name"]

'Alice'

In [42]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict4["age"]
dict4

{'name': 'Bob', 'city': 'New York'}

In [43]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict5 = {'name': 'Alice', 'city': 'Paris'}
"city" in dict5

True

In [44]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1, 2, 3]
tuple = (1, 2, 3)
dict = {'a': 1, 'b': 2, 'c': 3}
print(list, tuple, dict)

[1, 2, 3] (1, 2, 3) {'a': 1, 'b': 2, 'c': 3}

In [57]:
#27.. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
list0 = random.sample(range(1,101), 5)
list0.sort()
list0

[3, 34, 75, 88, 96]

In [48]:
#28.Write a code to create a list with strings and print the element at the third index.
number = ["One", "Two", "Three", "Four", "Five"]
number[3]

'Four'

In [51]:
#29. Write a code to combine two dictionaries into one and print the result.
dict01 = {'a': 1, 'b': 2}
dict02 = {'c': 3, 'd': 4}
dict01.update(dict02)
dict01

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [52]:
#30. Write a code to convert a list of strings into a set.
str_list = ["One", "Two", "Three", "Four"]
str_set = set(str_list)
str_set

{'Four', 'One', 'Three', 'Two'}